basePath: /v1/payments
host: localhost:8080
info:
  contact:
    name: API Support
    url: http://www.example.com/support
  description: This is a sample server for a microservice payments API.
  title: Microservice Payments API
  version: "1.0"
paths:
  /v1/payments/health:
    get:
      consumes:
      - application/json
      description: Check if the service is alive
      produces:
      - application/json
      responses:
        "200":
          description: Service is healthy
          schema:
            type: booblean
      summary: Health Check
      tags:
      - Health
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: X-API-KEY
    type: apiKey
swagger: "2.0"
